<<<<<<< HEAD
<% if flash[:error] %>
	<h2> <%= flash[:error] %> </h2>
<%end%>
<%= form_for(:session, url: login_path) do |x|%>
	<%= x.text_field :login, placeholder: "username or email" %>
	<%= x.password_field :password, placeholder: "password" %>
	<%= x.submit "Login" %>
<%end%>
=======

<% if flash[:error] %>
	<h2><%= flash[:error] %></h2>
<% end%>

<%= form_for(:session, url: login_path) do |f|%>
	<%= f.text_field :login, placeholder: "username or email" %>
	<%= f.password_field :password, placeholder: "password" %>
	<%= f.submit "Login" %>
<% end %>
>>>>>>> 323ab7533b86b961091794cd083e47830b2ae140
